

<div class="container-fluid main_content">
        <div class="row darkrow">
            <div class="col-md-4">
                <img class="img-responsive portrait" src="../../Content/images/Photo 162.jpg" />
            </div>
            <div class="col-md-8">
                <h1>
                    <p>Hello!</p>
                    <p><small>My name is Guillaume and I am a software engineer. I created this web page as a sandbox to experiment with web technologies.</small></p>
                </h1>
            </div>
        </div>
    </div>