@{
    ViewBag.Title = "Hello, I am Guillaume";     

}
@section Styles {
    <link href="@Url.Content("~/Content/foudationCss/foundation.css")" rel="stylesheet" type="text/css" />
}

@section featured {
                    
        <script src="~/Scripts/foundation/foundation.min.js"></script>
     <script>

                         $(document).foundation();    </script>
    <div  class="topblock">        

    </div>

         <div class="small-8 columns">
                <div id="frontPageText">
                Hi, my name is Guillaume.
                    </div>
            </div>
      
           <div  class="itemRow">      
      
            <ul class="small-block-grid-3">
              <li><div class="menuItem">About</div></li>
              <li><div class="menuItem">CV</div></li>
              <li><div class="menuItem">Contact</div></li>
            </ul>

  
     </div>

     

}
