@{
    ViewBag.Title = "Hello, I am Guillaume";     

}
@section Styles {
    <link href="@Url.Content("~/Content/foudationCss/foundation.css")" rel="stylesheet" type="text/css" />
}

@section featured {
                    
        <script src="~/Scripts/foundation/foundation.min.js"></script>
     <script>

                         $(document).foundation();    </script>
    <div class="row">
        <div class ="large-2 columns">
            <img src="~/Images/G-withStyleWithBox.png" />
        </div>
        <div">
            My name is Guillaume and I will experiment here.
        </div>
        <div>

            <img src="/Images/portrait.png"/>
        </div>

    
        </div>

}
